@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Default style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

.button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: #fff;
  border: 2px solid #000;
  border-radius: 34px;
  background-color: #000;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #fff;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.button:active {
  scale: 1;
}

button{
  cursor: pointer;

}

header a:hover{
color: #fff;
}


.nav-list {
  max-width: 1280px;
  height: 70px;
  margin-inline: auto;
  gap: 32px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header a{
  transition: ease 300ms;
}

a {
  text-decoration: none;
  color: inherit;
  
}

footer{
  background-color: #000;
  height: 12vh;
  padding: 2vh;
  color: #fff;
  margin: 0;
  display: block;
  text-align: center;
}

.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;
}

.hamburger::after,
.hamburger::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}


strong{
  font-weight: bolder;
}
/* Custom styles */

body {
  font-family: "Inter", sans-serif;
}

.container{
  max-width: 1280px;
  margin: auto;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header{
  position: fixed;
  width: 100%;
  padding: 60px 4%;
  z-index: 2;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

header.rolagem{
  background-color: #000;
  color: #fff;
  padding: 20px 4%;
  
  
}

header.rolagem .button{
  color: #000;
  background-color: #fff;
  
  
}


header img{
  width: 150px;
}

header ul{
  list-style: none;

}

header li {
  display: inline-block;
  margin: 0 40px;
}


h1 {
  font-weight: 600;
  font-size: 2rem;
}

main {
  max-width: 80rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.sobre-futsantos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 5rem;
}

.sobre-futsantos img {
  width: 350px;
  border-radius: 1rem;
}

.sobre-texto {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.sobre-texto p {
  line-height: 1.6rem;
  margin-top: 1rem;
}

#eventos-title {
  font-weight: 600;
  font-size: 2rem;
  margin-top: 10rem;
}

.evento {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  margin: 0 auto;
  gap: 2rem;
  margin: 1rem 0 5rem;
}

.evento img {
  border-radius: 1rem;
}

.evento-details {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 1rem;
}

.evento-details h3 {
  font-weight: 600;
  font-size: 2.5rem;
}

.evento-details button {
  border: 2px solid #000;
  border-radius: 0.8rem;
  padding: 0.8rem 2rem;
}

.evento-details button:nth-child(1) {
  background-color: #000;
  color: #fff;
}

.evento-btns {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 768px) {


  .hamburger {
    display: block;
    z-index: 1;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    color: #fff;
    clip-path: circle(100px at 0% -15%);
    transition: 1s ease-out;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 20px;

    pointer-events: none;
  }

  .nav-list a {
    font-size: 24px;
    opacity: 0;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  /* Estilos ativos */

  .nav.active .nav-list {
    clip-path: circle(1500px at 0% 0%);
    pointer-events: all;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 70px;
    left: 1px;
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

 
}




